1. Basic Star Patterns

In [2]:
# 1.1 Right-Angled Triangle Pattern

# *
# **
# ***
# ****
# *****

num = 5
for i in range(num+1):
    print("*"*i)

*
**
***
****
*****

In [3]:
# 1.2 Inverted Right-Angled Triangle
# *****
# ****
# ***
# **
# *
num = 5
for i in range(num,0,-1):
    print("*"*i)

*****
****
***
**
*

In [4]:
# 1.3 Pyramid Pattern
#     *
#    ***
#   *****
#  *******
# *********
num = 5
for i in range(1,num+1):
    print(" "*(num-i),"*"*(2*i-1))

     *
    ***
   *****
  *******
 *********

In [5]:
# 1.4 Inverted Pyramid
#  *********
#   *******
#    *****
#     ***
#      *

num=5
for i in range(num,0,-1):
    print(" "*(num-i),"*"*(2*i-1))

 *********
  *******
   *****
    ***
     *

In [6]:
# 1.5 Pyramid
#      * 
#     * * 
#    * * * 
#   * * * * 
#  * * * * * 

num=5
for i in range(1,num+1):
    print(" "*(num-i),"* "*i)

     *
    * *
   * * *
  * * * *
 * * * * *

In [7]:
# 1.6 Inverted Pyramid
#  * * * * * 
#   * * * * 
#    * * * 
#     * * 
#      * 
num=5
for i in range(num,0,-1):
    print(" "*(num-i),"* "*i)

 * * * * *
  * * * *
   * * *
    * *
     *

2. More Star Patterns

In [8]:
# 2.1 Hollow Square Pattern
# * * * * * 
# *       *
# *       *
# *       *
# * * * * * 
n=5
for i in range(n):
    if i==0 or i ==n-1:
        print("* "*n)
    else:
        print("* "+"  "*(n-2)+"*")

* * * * *
*       *
*       *
*       *
* * * * *

In [9]:
# 2.2 Hollow Right-Angled Triangle
# *
# **
# * *
# *  *
# *****
n=5
for i in range(1,n+1):
    if i ==1 or i==n:
        print("*"*i)
    else:
        print("*"+" "*(i-2)+"*")

*
**
* *
*  *
*****

In [10]:
# 2.3 Diamond Pattern
#      *
#     ***
#    *****
#   *******
#  *********
#   *******
#    *****
#     ***
#      *

n=5
for i in range(1,n+1):
    print(" "*(n-i),"*"*(2*i-1))
for i in range(n-1,0,-1):
    print(" "*(n-i),"*"*(2*i-1))

     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *

In [11]:
# 2.4 Diamond pattern 2
#      * 
#     * * 
#    * * * 
#   * * * * 
#  * * * * * 
#   * * * * 
#    * * * 
#     * * 
#      * 


n=5
for i in range(1,n+1):
    print(" "*(num-i),"* "*i)
for i in range(num-1,0,-1):
    print(" "*(num-i),"* "*i)

     *
    * *
   * * *
  * * * *
 * * * * *
  * * * *
   * * *
    * *
     *